ul.check_action li {
    color: #526484;
    font-weight: 500;
    display: flex;
    align-items: center;
    opacity: .5;
}
ul.check_action li .ac_icon, ul.check_action li .icon {
    margin-right: .5rem;
}

ul.check_action li .icon {
    font-size: 1.1rem;
}

ul.check_action li .ni-cross-sm {
    font-size: 1.1rem;
}

ul.check_action li:not(:last-child) {
    padding-bottom: .5rem;
}

.setup {
    width: 100%;
    margin-top: 1rem;
}
ul.check_action.li li {
    opacity: 1;
    margin-bottom: 1rem;
}
ul.check_action.li li:last-child
{
    margin-bottom: 0;
}
ul.check_action li:not(:last-child) {
    padding-bottom: 3px;
}

.progress-responsive {
  width: 100%;
}
/* Progress bar containers */
figure {
    position: relative;
    width: 100%;
    height: 14px;
    border-radius: 1px;
    background: #efefef;
}
/* Progress bar shape */
figure .progress-responsive__bar {
    width: 0;
    height: 100%;
    border-radius: 2px;
    transition: .2s ease-in-out;
}

.progress-responsive .progress-responsive__bar {
    position: initial;
    background: #3f54ff;
}

.action_status {
    color: #222325;
    font-weight: 400;
    height: 22px;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    transition: .15s ease-in-out;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;
}


.status {margin-top: -4px;}

.redirect-overlly {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
}

.redirect-overlly .red-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.redirect-overlly .red-content .lo-txt {
    display: block;
    margin-left: 12px;
    margin-top: .5rem;
}
.redirect-overlly .red-content 
{
  color: #fff;
}