<div class="redirect-overlly">
    <div class="red-content">

        <div class="spinner-border spiner" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>

        <div class="lo-txt">Redirecting...</span>
    </div>
</div>
